@import '../varebales/varebales';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.sku-product{
    color: $sku;
}
.btn{
    padding: 10px 20px;
    height: auto;
}
.header-filter{
    padding: 0;
}