$subNav               : hsl(261, 37%, 81%);
$navbar               : hsl(223, 10%, 27%);
$pointOfCourserActive : hsl(226, 85%, 63%);
$white                : hsl(0, 0%, 100%);
$RedDiscount          : hsl(0, 100%, 50%);
$textSmall            : hsl(0, 0%, 50%);
$MailChimp            : hsl(37, 96%, 61%);
$black                : hsl(0, 0%, 0%);